<!DOCTYPE html> {% load staticfiles %}

<html lang="pt-br">

    <head>
        <title>Django Form Exemplo</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='{% static "css/form.css" %}' />
    </head>

    <body>
        
        {% include "django\cabecalho.html" %}
        
        <div class="container">
            
            <form class="form-signin">
                <h2 class="form-sign-heading">Formulário de Pessoa</h2> 
                
                <label for="name" class="sr-only">Nome:</label>
                <input type="text" id="nome" class="form-control" placeholder="Nome" required autofocus>
                <br>
                
                <label for="endereco" class="sr-only">Endereço:</label>
                <input type="text" id="endereco" class="form-control" placeholder="Endereço" required>
                <br>

                <label for="cpf" class="sr-only">CPF:</label>
                <input type="text" id="cpf" class="form-control" placeholder="CPF" required>
                <br>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>

            </form>
            </fieldset>
        </div>

    </body>

</html>