<!DOCTYPE html>

{% load staticfiles %}

<html lang="pt-br">

    <head>
        <title>Django Form Exemplo</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='{% static "css/form.css" %}' />
    </head>

    <body>
        
        {% include "django\cabecalho.html" %}
        
        <div>
            <fieldset>
                <legend>Formulário de pessoa</legend>
                <form>
                    <table cellpadding='5'>
                        
                        <tr>
                            <td>Nome:</td>
                            <td><input type="text" name="nome" id="nome" /></td>
                        </tr>
                        
                        <tr>
                            <td>Endereço:</td>
                            <td><input type="text" name="endereco" id="indereco" /></td>
                        </tr>

                        <tr>
                            <td>CPF:</td>
                            <td><input type="text" name="cpf" id="cpf" /></td>
                        </tr>

                        <tr>
                            <td colspan="2"><input type="submit" value="Enviar"/></td>
                        </tr>
                    </table>
                </form>
            </fieldset>
        </div>

    </body>

</html>